<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LS.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-link" [routerLink]="['/ScoreCard']" >Scorecard </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" [routerLink]="['/Commentry']">Commentry </button>
      </li>

      <li class="nav-item">
        <button class="btn btn-link" [routerLink]="['/home']">Admin</button>
      </li>
    </ul>
  </div>
</nav>

