<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
      <div class="card card-signin my-5 jumbotron">
        <div class="card-body">
          <h3 class="card-title text-center">Add Current Record</h3>
         
          <form class="form-signin">



              <div class="form-label-group my-2 "  *ngIf="showNewBowler">
                  <label for="">Select New Bowler</label>
                  <select class="hideLabel form-control" >
                    <option selected="">Player Name</option>
                    <option *ngFor="let cc of fieldingTeam">
                      {{cc}}
                  </option>
    
                  </select>
                </div>





              <div class="form-label-group my-2 " *ngIf="firstBatsman" >
                <label for="">Select Opening Batsman</label>
                <select class="hideLabel form-control" >
                  <option selected="">Player Name</option>
                  <option *ngFor="let bb of battingPlayers">
                    {{bb}}
                </option>
  
                </select>
              </div>

              <div class="form-label-group my-2 " *ngIf="newBatsman" >
                <label for="">Select Next New Batsman</label>
                <select class="hideLabel form-control" >
                  <option selected="">Player Name</option>
                  <option *ngFor="let ee of battingPlayers">
                    {{ee}}
                </option>
  
                </select>
              </div>
    
            <div class="form-label-group">

              <label>Possibility of Runs</label>
              <select class="hideLabel form-control" (change)="onSelectOfPossibility()" #possiblerun>
                <option selected="">Select Run/Wicket</option>
                <option>
                  1
                </option>
                <option>
                  2
                </option>
                <option>
                  3
                </option>
                <option>
                  4
                </option>
                <option>
                  6
                </option>
                <option>
                  Wicket
                </option>
              </select>
            </div>

            <div class="form-label-group my-2 " *ngIf="showType">
              <label for="">Wicket</label>
              <select class="hideLabel form-control" #wickettype [disabled]="btnDisable" (change)="onSelectOfWicket()">
                <option selected="">Select Wicket</option>
                <option>
                  Catch
                </option>
                <option>
                  Bold
                </option>

                <option>
                  Runout
                </option>

                <option>
                  Stumping
                </option>
                <option>
                  Hitwicket
                </option>

              </select>
            </div>


            <div class="form-label-group my-2 " *ngIf="showCatchBy">
              <label for="">Catch By</label>
              <select class="hideLabel form-control" [disabled]="btnCatchByDisable">
                <option selected="">Player Name</option>
                <option *ngFor="let cc of fieldingTeam">
                    {{cc}}
                </option>

              </select>
            </div>


            <div class="form-label-group my-2 ">
              <label >Ball</label>
              <div>
              <input type="text" [value]="ballnum" [disabled]="txtBall" #ball>
                </div>
              
            </div>

            <div class="form-label-group my-2 " >
              <label for="">Total Number Of Overs</label>
              <div>
              <input type="text" [value]="numofovers" [disabled]="txtOver" #over> 
                </div>
              
            </div>

            <div class="form-label-group my-2 " >
                <label for="">Commentry</label>
                <div>
                <textarea   #commentry></textarea> 
                  </div>
                
              </div>
              <div *ngIf="showHead" #inncomplete >First Inning Complet</div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase " type="button" (click)="onAddScoreClick()" >Add Score</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>