<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto ">
      <div class="card card-signin my-5 jumbotron">
        <div class="card-body">
          <h3 class="card-title text-center">Match</h3>
          <form class="form-signin">
            <div class="form-label-group">

              <label>Team 1</label>
              <input type="text" class="ml-5 my-2" (blur)="onSelectTeam1()" #team1>
            </div>

            <div class="form-label-group my-2 ">
              <label for="">Team 2</label>

              <input type="text" class="ml-5 my-2 " (input)="onSelectTeam2()" #team2>
            </div>



            <div class="form-label-group my-2 d-flex flex-row">
              <label for="">TOSS</label>
              <select class="hideLabel form-control ml-5" #toss [disabled]="btnDisable">
                <option selected="">Select Team</option>
                <option>
                  {{t1}}
                </option>
                <option>
                  {{t2}}
                </option>
              </select>
            </div>



            <div class="form-label-group my-2 d-flex flex-row">
              <label for="">Decision</label>
              <select class="hideLabel form-control ml-5" #decision>

                <option selected="">Decision</option>
                <option *ngFor="let dd of dname">
                  {{dd.decision}}
                </option>
              </select>
            </div>


            <div class="form-label-group">

              <label>Overs</label>
              <input type="text" class="ml-5 my-2" #overs>
            </div>


            <button class="btn btn-lg btn-primary btn-block text-uppercase my-3" type="button" (click)="onDefineTeam()" >Define
              Team</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
